{{actualMouseCoords.x}} - {{actualMouseCoords.y}}
<action-button (click)="openImportDialog()">download</action-button>
<action-button (click)="openExportDialog()">upload</action-button>
<action-button (click)="controller.play()" [color]="'lime'" [ngStyle]="{'border-color': 'lime'}">play_arrow</action-button>
<action-button (click)="controller.pause()">pause</action-button>
<action-button (click)="controller.stop()" [color]="'red'" [ngStyle]="{'border-color': 'red'}">stop</action-button>
<action-button (click)="controller.add()" [color]="'lime'" [ngStyle]="{'border-color': 'lime'}">add</action-button>
<dialog class="import-dialog" [open]="importDialogOpen">
  <h3>Import</h3>
  <textarea class="import-textarea" [(ngModel)]="importText"></textarea>
  <div class="dialog-actions">
    <button (click)="importActions()">Import</button>
    <button (click)="closeImportDialog()">Close</button>
  </div>
</dialog>
<dialog class="export-dialog" [open]="exportDialogOpen">
  <h3>Export</h3>
  <textarea class="export-textarea" [(ngModel)]="exportText"></textarea>
  <div class="dialog-actions">
    <button (click)="copyActions()">Copy</button>
    <button (click)="closeExportDialog()">Close</button>
  </div>
</dialog>
