:host{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.working-status{
  flex: 1;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.working-status.active{
  color: green;
  animation: spinning-anim 2s linear infinite;
}

.working-status.paused{
  color: gold;
}

.action-delay{
  flex: 9;
  font-size: 1.5rem;
}

.action-delay>select{
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: dodgerblue;
}

.mouse-pos{
  flex: 4;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mouse-pos>*{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mouse-x, .mouse-y{
  flex: 5;
}

.mouse-separator{
  flex: 1;
}

.action-buttons{
  flex: 10;
  height: 70%;
  display: flex;
  align-items: stretch;
  justify-content: right;
  box-sizing: border-box;
  gap: clamp(1vw, 10px, 2vw);
}

action-button{
  height: 100%;
}


dialog[open]{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  z-index: 10;
  background-color: midnightblue;
  border: 5px inset dodgerblue;
  color: white;
  border-radius: 10px;
  transform: translateY(-50%);
  gap: 2vh;
}

dialog[open]>h2{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

dialog[open]>textarea{
  border-radius: 10px;
  resize: none;
  width: 30vw;
  height: 30vh;
}

dialog[open]>input{
  border-radius: 10px;
  resize: none;
  width: 100%;
  font-size: 1.5rem;
}

.dialog-actions{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-around;
  gap: 2vw;
}

.dialog-actions>button{
  flex:1;
  font-size: 2rem;
  border-radius: 10px;
  background-color: dodgerblue;
  border: 3px inset dodgerblue;
  cursor: pointer;
}

.dialog-actions>button:hover{
  background-color: steelblue;
}

.dialog-actions>button:active{
  background-color: midnightblue;
}

@keyframes spinning-anim{
  from {
    color: green;
  }
  50%{
    transform: rotate(180deg);
    color: lime;
  }
  to{
    transform: rotate(360deg);
    color: green;
  }
}


