:host {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.toolbar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.title-input, .description-input, .title-input-box, .description-input-box{
  width: 100%;
}

.toolbar-actions{
  align-self: start;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.script-edit-stat{
  font-size: 1.2rem;
  vertical-align: middle;
}

.editor{
  flex: 1;
  display: flex;
  width: 100%;
  gap: 1rem;
}

pre, code {
  overflow: auto;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  background-color: var(--mat-sys-surface);
}

.blockly-canvas {
  flex: 3;
  height: 100%;
  color: #121316;
}

.output-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  h3{
    margin: 0;
  }
}

.generated-code {
  flex: 1;
  overflow: auto;
  border: 1px solid var(--mat-sys-on-surface);
}

.output-console {
  flex: 1;
  resize: none;
  border: 1px solid var(--mat-sys-on-surface);
}

