:host {
    display: flex;
    height: 97vh;
    width: 100vw;
    background-color: rgb(40 40 40);
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    padding: clamp(2vh, 20px, 3vh);
    gap: clamp(2vh, 20px, 4vh);
    overflow: hidden;
}

action-controls {
    height: clamp(50px, 10vh, 75px);
}

action-list {
    flex: 5;
}
