:host {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.toolbar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.title-input, .description-input, .title-input-box, .description-input-box{
  width: 100%;
}

.toolbar-actions{
  align-self: start;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.script-edit-stat{
  font-size: 1.2rem;
  vertical-align: middle;
}

.editor-workspace{
  flex: 1;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.blockly-canvas {
  flex: 3;
  height: 100%;
}

.output-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 450px;
  gap: 1rem;
  h3{
    margin: 0;
  }
}

.generated-code {
  flex: 1;
  font-family: 'JetBrains Mono', monospace;
}

.output-console {
  flex: 1;
}

