:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    border: 3px outset dodgerblue;
    border-radius: 25px;
}

:host.click-me {
    border: 3px outset lime;
    min-height: 40px;
}

.add-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-description {
    margin: 0 15px;
    flex: 6;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-shrink: 10;
    gap: 2vw;
    font-size: 2rem;
}

.action-description > * {
    box-sizing: border-box;
    font-size: 2rem;
    flex: 8;
}

.action-description > .typing-tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: default;
    user-select: none;
}

.action-description > select, .action-description > input {
    height: 3rem;
    width: 25%;
    background-color: dodgerblue;
    border: 2px inset black;
    border-radius: 15px;
    padding-left: 0.7vw;
}

.action-buttons {
    margin: 8px;
    flex: 2;
    display: flex;
    gap: 8px;
    justify-content: right;
    align-items: center;
    height: 75%;
}
