<span *ngIf="!action" class="material-symbols-outlined add-button" style="color: lime">
add
</span>
<ng-template [ngIf]="action">
    <div class="action-description">
        <select [(ngModel)]="action.type">
            <option *ngFor="let type of Object.values(AutomationType); index as i"
                    [value]="type"
                    [selected]="i === 2">{{type}}</option>
        </select>
        <input *ngIf="action.type === AutomationType.WAIT"
               [(ngModel)]="action.duration"
               type="number"
               step="1000"
               maxlength=4
               placeholder="Duration (ms)">
        <input *ngIf="action.type === AutomationType.MOVE_MOUSE"
               [(ngModel)]="action.position.x"
               type="number"
               step="100"
               maxlength=4
               placeholder="X">
        <input *ngIf="action.type === AutomationType.MOVE_MOUSE"
               [(ngModel)]="action.position.y"
               type="number"
               step="100"
               maxlength=4
               placeholder="Y">
        <select *ngIf="action.type === AutomationType.CLICK_MOUSE" [(ngModel)]="action.mouseButton">
            <option *ngFor="let mouseButton of Object.values(MouseButton); index as i"
                    [value]="mouseButton"
                    [selected]="i === 0">{{mouseButton}}</option>
        </select>
        <input *ngIf="action.type === AutomationType.SCROLL_MOUSE"
               [(ngModel)]="action.scrollAmount"
               type="number"
               step="100"
               maxlength=4
               placeholder="Amount">
        <input *ngIf="action.type === AutomationType.KEYBOARD_TYPE || action.type === AutomationType.KEYBOARD_SEQUENCE"
               [(ngModel)]="action.keyboardTyping"
               type="text"
               placeholder="Text">
        <span *ngIf="action.type === AutomationType.KEYBOARD_TYPE"
              class="material-symbols-outlined typing-tooltip"
              title="This will simulate a keyboard typing. This includes unicode characters such as 😀">info</span>
        <span *ngIf="action.type === AutomationType.KEYBOARD_SEQUENCE"
              class="material-symbols-outlined typing-tooltip"
              title="This will simulate a keyboard char sequence. Specify a key_down/key_up/key_click with {KEY} (&quot;{+SHIFT}hello{-SHIFT}&quot;)">info</span>
    </div>
    <div class="action-buttons">
        <div class="arrow-buttons">
            <action-button class="up" (click)="moveUp()">arrow_drop_up</action-button>
            <action-button class="down" (click)="moveDown()">arrow_drop_down</action-button>
        </div>
        <action-button (click)="cloneMe()">content_copy</action-button>
        <action-button (click)="deleteMe()" [color]="'red'" [ngStyle]="{'border-color': 'red'}">delete</action-button>
    </div>
</ng-template>
