:host{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  border: 3px outset dodgerblue;
  border-radius: 15px;
}

:host.click-me{
  border: 3px outset lime;
  min-height: 40px;
}

.add-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-description{
  margin: 0 15px;
  flex: 2;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-shrink: 5;
  gap: 2vw;
  font-size: 2rem;
}

.action-description>*{
  height: 3rem;
  box-sizing: border-box;
  font-size: 2rem;
  background-color: dodgerblue;
  width: 100%;
  flex: 1;
}

.action-description>select{
  border-radius: 10px;
}

.action-description>input{
  border-radius: 10px;
}

.action-buttons{
  margin: 8px;
  flex: 1;
  display: flex;
  gap: 8px;
  justify-content: right;
  align-items: center;
  height: 75%;
}
