<span *ngIf="!action" class="material-symbols-outlined add-button" style="color: lime">
add
</span>
<ng-template [ngIf]="action">
  <div class="action-description">
    <select [(ngModel)]="action.type">
      <option>-</option>
      <option *ngFor="let type of Object.values(AutomationType)" [value]="type">{{type}}</option>
    </select>
    <input *ngIf="action.type === AutomationType.WAIT" [(ngModel)]="action.duration" placeholder="Duration">
    <input *ngIf="action.type === AutomationType.MOVE_MOUSE" [(ngModel)]="action.position.x" type="number" placeholder="X">
    <input *ngIf="action.type === AutomationType.MOVE_MOUSE" [(ngModel)]="action.position.y" type="number" placeholder="Y">
  </div>
  <div class="action-buttons">
    <action-button [color]="'red'" (click)="deleteMe()">delete</action-button>
  </div>
</ng-template>
